.notification-badge {
    position: absolute;
    top: 15px;
    right: 17px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--danger);

    .rtl & {
        right: auto;
        left: 17px;
    }
}
