includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 2
    ignoreErrors:
        - '#^Cannot cast Illuminate\\Contracts\\View\\View to string\.$#'
        - '#^Function _il_exec not found\.$#'
        -
            message: '#^Call to an undefined method Omnipay\\Common\\(GatewayInterface|Message\\ResponseInterface|Message\\NotificationInterface)::#'
            paths:
                - app/PaymentChannels/Drivers/Braintree/Channel.php
                - app/PaymentChannels/Drivers/Mollie/Channel.php
                - app/PaymentChannels/Drivers/Robokassa/Channel.php
        -
            message: '#^Call to an undefined method net\\authorize\\api\\contract\\v1\\ANetApiResponseType::getTransactionResponse\(\)\.$#'
            path: app/PaymentChannels/Drivers/Authorizenet/Channel.php
        -
            message: '#^Access to an undefined property WebToPay_PaymentMethod::\$(minAmount|maxAmount|currency)\.$#'
            path: app/PaymentChannels/Drivers/Paysera/WebToPay.php
        -
            message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User::\$(id|email|name)\.$#'
            path: app/Http/Controllers/Auth/SocialiteController.php
        -
            message: '#^Call to an undefined method object\{quantity: int, product: mixed\}::update\(\)\.$#'
            path: app/Http/Controllers/Web/CartManagerController.php
    paths:
        - app
    excludePaths:
        - app/Providers/LicenseEventServiceProvider.php
        - app/Http/Controllers/Api/Instructor/*
    bootstrapFiles:
        - vendor/autoload.php
