.landing-builder-sidebar {
    width: 258px;
    height: calc(100vh - 70px);

    &__stat-divider {
        width: 1px;
        height: 20px;
        background-color: var(--gray-200);
    }

    @media (max-width: $screen-sm-max) {
        position: fixed;
        top: 110%;
        width: 100%;
        background-color: var(--white);
        z-index: 570;
        padding: 40px 20px 0 !important;
        transition: top 0.4s cubic-bezier(0.43, 0.83, 0.54, 1.02), opacity .4s linear;

        &.show-sidebar {
            top: 70px;
        }
    }
}
