@import "../../bootstrap/variables";


@keyframes up-down-single-video-section-back-image-animation {
    0%, 100% {
        transform: translateY(8px) rotate(-20deg);
    }
    50% {
        transform: translateY(-24px) rotate(-20deg);
    }
}


.single-video-section {

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 664px;
        border-radius: 48px;
        background-color: var(--section-bg);
        margin-left: -48px;
        margin-right: -48px;
        z-index: 1;
    }

    &__video-box {
        width: 100%;
        height: 800px;
        border-radius: 32px;

        video {
            width: 100%;
            height: 100%;
            border-radius: 32px;
        }
    }

    &__back-image {
        position: absolute;
        bottom: -90px;
        left: -110px;
        width: 180px;
        height: 210px;
        z-index: 1;
        animation: up-down-single-video-section-back-image-animation 4s ease-in-out infinite;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .rtl & {
            left: auto;
            right: -110px;
        }
    }

    &__center-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &__revolver-icon, &__play-button {
        position: absolute;
        border-radius: 50%;
    }

    &__revolver-icon {
        fill: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(4px);
        animation: rotate-animation 14s infinite linear;
    }

    &__play-button {
        z-index: 3;
    }

    &__badge {
        position: absolute;
        bottom: 128px;
        right: -48px;
        background-color: var(--primary);
        transform: rotate(-10.975deg);
        padding: 8px 16px;
        border-radius: 32px;
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        z-index: 5;

        .rtl & {
            right: auto;
            left: -48px;
        }
    }

    @media (max-width: $screen-sm-max) {

        &:after {
            height: 464px;
            margin-left: -24px;
            margin-right: -24px;
        }

        &__video-box {
            height: 400px;
        }

        &__badge {
            bottom: -12px;
            right: -24px;
            font-size: 14px;

            .rtl & {
                right: auto;
                left: -24px;
            }
        }

        &__back-image {
            bottom: -80px;
            left: -24px;
            width: 100px;
            height: 110px;

            .rtl & {
                left: auto;
                right: -24px;
            }
        }
    }
}

