@import "../../bootstrap/variables";

.store-products-section {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 54px 0;

    @media (max-width: $screen-sm-max) {
        height: auto;
        padding: 24px 0;
    }
}

