.profile-reserve-meeting {

    .datepicker-plot-area {
        font-family: var(--font-family-base) !important;
        padding: 0;
        box-shadow: none;
        border-radius: 16px;
        border: 1px solid var(--gray-200);
        background-color: var(--white);

        .datepicker-navigator {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            background-color: var(--white);
            border-radius: 12px 12px 0 0;
            border-bottom: 1px solid var(--gray);

            .pwt-btn {
                display: flex;
                align-items: center;
                justify-content: center;

                &.pwt-btn-prev, &.pwt-btn-next {
                    position: relative;
                    color: var(--primary);
                    border-radius: 8px;
                    width: 32px;
                    min-width: 32px;
                    height: 32px;

                    & * {
                        position: relative;
                        z-index: 2;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        opacity: .2;
                        z-index: 1;
                        background-color: var(--info) !important;
                        border-radius: inherit; // use parent
                    }
                }

                &.pwt-btn-switch {
                    width: auto !important;
                    color: var(--black);
                    margin: 0 32px !important;
                    font-weight: bold !important;
                    font-size: 14px !important;
                }
            }
        }

        .datepicker-day-view {
            background-color: transparent !important;

            .month-grid-box {
                margin: 0 !important;
                background-color: transparent !important;

                .header {
                    padding: 16px 0 !important;
                    background-color: var(--white) !important;

                    .header-row-cell {
                        color: var(--gray-500) !important;
                        font-size: 12px !important;
                    }
                }
            }

            .table-days {
                margin-top: 12px;
                border-radius: 12px;
                padding: 0 12px 12px 12px;
                background-color: var(--white) !important;

                tr {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 6px;
                    margin-top: 6px;


                    td {
                        width: auto !important;
                        height: auto !important;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            border-radius: 8px;
                            padding: 8px !important;
                            color: var(--black) !important;
                            background-color: var(--white) !important;
                            border: none !important;
                            text-shadow: none !important;
                            line-height: 21px !important;
                        }

                        &:hover > span {
                            color: var(--black) !important;
                            background-color: var(--gray-100) !important;
                        }

                        &.disabled > span {
                            color: var(--gray-400) !important;
                            background-color: var(--gray-200) !important;
                        }

                        &.selected > span {
                            background-color: var(--primary) !important;
                            border-color: var(--primary) !important;
                            color: var(--white) !important;
                        }
                    }
                }
            }
        }

        .datepicker-month-view, .datepicker-year-view {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px;
            margin-top: 0 !important;
            padding: 8px;
            background-color: var(--white) !important;

            .month-item, .year-item {
                width: auto !important;
                height: auto !important;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: var(--black) !important;
                background-color: var(--white) !important;
                border: 1px solid var(--gray-200) !important;
                border-radius: 8px;
                text-shadow: none !important;

                &.selected {
                    background-color: var(--primary) !important;
                    border-color: var(--primary) !important;
                    color: var(--white) !important;
                }

                &:hover:not(.selected) {
                    color: var(--black) !important;
                    background-color: var(--gray-100) !important;
                }

                &.month-item-disable, &.year-item-disable {
                    color: var(--gray-400) !important;
                    background-color: var(--gray-100) !important;
                }
            }
        }

        .toolbox {
            display: none;
            margin-top: 0;
            background-color: #ffffff;
        }
    }

}


.profile-available-times-item {

    label {
        cursor: pointer;
        color: var(--gray-500);
        border: 1px solid var(--gray-200);
        transition: all 0.2s;

        &.unavailable {
            cursor: default;
            color: var(--gray-400);
            border-style: dashed;
        }

        .time-center-divider {
            color: var(--gray-500);
            border: 1px solid var(--gray-200);

            &:after, &:before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 1px;
                border-top: 1px dashed var(--gray-300);
                z-index: 1;
            }

            &:after {
                left: -16px;
            }

            &:before {
                right: -16px;
            }
        }

    }

    input {
        visibility: hidden;
        display: none;
        transition: all 0.3s;

        &:checked {
            & + label {
                border-color: var(--primary);
                background-color: var(--primary);
                color: var(--white);

                .time-center-divider {
                    color: var(--white);
                    border-color: var(--info);

                    &:after, &:before {
                        border-top-color: var(--white);
                        opacity: .5;
                    }
                }
            }
        }
    }

}
