@import "../bootstrap/variables";

.design1-pagination {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--gray-300);
    border-radius: 8px;


    &__display-stat {
        position: absolute;
        left: 0;
    }

    @media (max-width: $screen-sm-max) {
        &__display-stat {
            position: relative;

        }
    }

    .page-item .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        min-width: 38px;
        height: 38px;
        font-size: 14px;
        color: var(--gray-500);
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-200);
            color: var(--dark);
        }

        @media (max-width: $screen-sm-max) {
            width: 30px;
            min-width: 30px;
            height: 30px;
            font-size: 12px;
        }
    }

    .page-item {
        &.active .page-link {
            background-color: var(--primary);
            color: var(--white);
        }

        &:first-child, &:first-child .page-link {
            border-radius: 8px 0 0 8px;
        }

        &:last-child, &:last-child .page-link {
            border-radius: 0 8px 8px 0;
        }
    }
}
