.subscription-plan-card {

    &__mask {
        position: absolute;
        inset: 8px;
        bottom: -8px;
        border-radius: 24px;
        opacity: 0.5;
        background-color: var(--white);
        z-index: 1;
    }

    &__popular-badge {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;

        .rtl & {
            right: auto;
            left: 16px;
        }
    }
}
